
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.bg-color{
    background-color: rgba(255, 255, 255, 1);
}
.display-flex{
    display: flex;
}
.text-primary{
    color: #FEA301;
}
.btn{
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
}
.btn-secondary{
    background-color: black;
    padding: 10px 47px;
    font-weight: 700;
}
main{
    max-width: 1160px;
    margin: 0 auto;
}
main > section{
    margin-top: 60px;
}
.section-titles{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 80px;
}
.text-footer{
    color: white;
}
/* header styles */
/* navbar styles  */
.navbar{
    align-items: center;
    justify-content: space-between;
}
.school{
    font-weight: 700;
    font-size: 2rem;
    color: #111111;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
.navbar, .banner{
    max-width: 1160px;
    margin: 0 auto;
}
.text-2{
    color: #01ACFD;
}
.text-3{
    color: #05D4DF;
}
.text-4{
    color: #5D58EF;
}
.text-5{
    color: #01ACFD;
}
.logos{
    align-items: center;
}
.logo{
    margin-right: 15px;
    width: 62px;
    height: 62px;
}
.btn-primary{
    background-color: #FEA301;
    padding: 10px 60px;
    font-weight: 600;
}
.btns:hover{
    background-color: #01ACFD;
}

/* banner styles */
.banner{
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
}
.banner-content{
    max-width: 640px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner-image{
    width: 100%;
}
.divider{
    border: none;
    border-top: 1px solid rgba(254, 163, 1, 0.71);
}

/* Curriculum section styles */
.Curriculum, .our-stories{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.card-container{
    gap: 28px;
    border-radius: 18px;
}
.card{
    text-align: center;
    padding: 52px 40px;
    border-radius: 18px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 28.3px .94px rgba(0, 0, 0, 0.05);
    width: 286px;
}
.btn-icons{
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
.btn-icon{
    border-radius: 30px;
    background-color: #FEA301;
    border: none;
    padding: 17px 22px;
    color: white;
    font-size: 1.5rem;
}
.card-titles{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}
.card-descriptions{
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
}
.read-more-text{
    font-weight: 700;
    font-size: 1rem;
}

.card-kinder{
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
}
.card-Elementary{
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
}
.card-Middle{
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
}

/* stories styles */
.stories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
#stories-fun{
    grid-row: span 2;
}
.story{
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.story-titles{
    font-weight: 700;
    font-size: 1rem;
    width: 214px;
    padding-left: 38px;
}
.fun-toddler{
    padding: 38px;
}
.img-story-1{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.img-story{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#date{
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    border: none;
    border-radius: 48px;
    margin-left: 38px;
    top: -25px;
}

.bg-1{
    background-color: #01ACFD;
    padding: 15px 19px;
}
.bg-2{
    background-color: #95B226;
    padding: 10px 19px;
}
.bg-3{
    background-color: #5D58F0;
    padding: 10px 19px;
}

.btn-view-all{
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 47px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    margin-bottom: 60px;
}

/* footer styles */
.bg-footer{
    background-color: #0371a3;
}
.footer-section{
    display: flex;
    width: 0 auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px 20px;
}
.footer-logo{
    width: 400px;
}
.img-footer{
    width: 82px;
    height: 81px;
}
.footer-menus{
    align-items: center;
    margin-top: -50px;
}
.about-school{
    font-size: 1.5rem;
    font-weight: 700;
}
.touch{
    font-weight: 700;
    font-size: 1.6rem;
   margin-top: -100px;
}
.footer-menu{
    list-style: none;
}
.decoration{
    text-decoration: none;
}
.footer-img{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 4px;
}
.gap{
    gap: 10px;
}
.footer-title{
    font-size: 2.6rem;
    font-weight: 700;
}
.Education-footer{
    align-items: center;
}
.footer-description{
    font-size: 1.25rem;
}
/* marquee styles */
.marquee-container{
    margin-bottom: 20px;
    width: 100%;
    background-color: #0371a3;
    font-size: 1.5rem;
    color: white;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .hide-mbl{
        display: none;
    }
    .logo{
        width: 46px;
        height: 46px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .card-container, .footer-section{
        flex-direction: column;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        margin-top: 5px;
    }
    .banner-description{
        font-weight: 500;
        font-size: 0.8rem;
    }
    .btn-primary{
        padding: 6px 24px;
        font-weight: 700;
    }
    .btn{
        font-size: 1rem;
    }
    .section-titles{
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .card{
        margin-bottom: 12px;
        width: 200px;
    }
    .card-container{
        gap: 8px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-titles{
        font-size: 1rem;
    }
    .card-descriptions{
        font-size: 0.6rem;
    }
    .read-more-text{
        font-size: 0.6rem;
    }
    #date{
        padding: 6px 12px;
        position: relative;
        font-weight: 500;
        font-size: 0.5rem;
        color: white;
        border: none;
        border-radius: 28px;
        margin-left: 22px;
        top: -16px;
    }
    .story-titles{
        font-weight: 700;
        font-size: 0.6rem;
        width: 117px;
        padding-left: 22px;
    }
    .stories{
        flex-direction: column;
        margin: 0 auto;
        gap: 11px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .img-story{
        width: 100%;
    }
    .btn-view-all{
        margin-top: 20px;
        padding: 8px 30px;
        font-size: 1rem;
    }
    .footer-section{
        padding: 20px 10px ;
        align-items: self-start;
        text-align: start;
    }
    .footer-logo{
        width: 305px;

    }
    .footer-menus{
        align-items: center;
        margin-top: 8px;
        padding-left: 25px;
    }
    .touch{
        font-weight: 700;
        font-size: 1.6rem;
        margin-top: 5px;
    }
    .footer-description{
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        max-width: 95%;
        margin: 0 30px;

    }
    .img-footer{
        width: 69px;
        height: 69px;
    }
    .Education-footer{
        justify-content: center;
        padding-left: 16px;
    }
    .footer-title{
        font-size: 2rem;
        font-weight: 700;
    }
    .about-school{
        font-weight: 600;
        font-size: 1.25rem;
    }
    .touch{
        font-weight: 700;
        font-size: 1.3rem;
        padding-left: 25px;
    }
    .footer-img{
        width: 33px;
        height: 33px;
        border-radius: 3.39px;
    }
}
@media screen and (min-width:577px) {
    .hide-bars{
        display: none;
    }
    .divider{
        display: none;
    }
}